.container.testimonials-container{

    width: 40% ;
    padding-bottom: 4rem;
}

.client{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}


.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client-review{
    color: var(--color-light);
    display: block;
    font-weight: 300;
    width: 80%;
    margin: 0.8rem auto 0;
}


.swiper-pagination-bullet-active{

    background: var(--color-primary) !important;
}

.swiper-pagination-bullet{

    background: var(--color-white) !important;
}

  /* media queries (medium devices) */
  @media screen and (max-width: 1024px) {
 
    .container .testimonials-container{

        width: 60% ;
    }

    

  }
  /* media queries (small devices) */

  @media screen and (max-width: 600px) {

    .container.testimonials-container{

        width: var(--container-width-sm);
    }

    .client-review{
        width: var(--container-width-sm);
    }

    

  }
















